

<!DOCTYPE html>
<html lang="en" data-theme="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dierentuin_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Dierentuin_App.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dierentuin_App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UpdatedAnimals" asp-action="Create">Create Animal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Stalls" asp-action="Index">Create Stall</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UpdatedAnimals" asp-action="Index">Animals index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ToggleDayNight">Toggle Day/Night</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-custom">
        <div class="container">
            <div class="footer-section-left">
                <h2>Zoo Application</h2>
            </div>
            <div class="footer-section-center">
                <h3>Zoo application Designed by team Group 3</h3>
            </div>
            <div class="footer-section-right">
                <div class="grid-container">
                    <div class="grid-item">
                        <img src="~/images/github-mark-white.png" alt="GitHub" class="github-icon">
                        <a href="https://github.com/sammayer0815">Github Sam</a>
                    </div>
                    <div class="grid-item">
                        <img src="~/images/github-mark-white.png" alt="GitHub" class="github-icon">
                        <a href="https://github.com/Renas-dev">Github Renas</a>
                    </div>
                    <div class="grid-item">
                        <img src="~/images/github-mark-white.png" alt="GitHub" class="github-icon">
                        <a href="https://github.com/DPCoderr">Github Daniel</a>
                    </div>
                    <div class="grid-item">
                        <img src="~/images/github-mark-white.png" alt="GitHub" class="github-icon">
                        <a href="https://github.com/Sadek2002">Github Sadek</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
