﻿@{
    ViewData["Title"] = "Create";
}

<div class="row d-flex justify-content-center mt-3">
    <div class="col-11 col-md-8 border rounded-3 border-dark p-4 mb-3">
        <form asp-action="Create" class="d-flex flex-column gap-4" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h1 class="">Create Stall</h1>
            <!-- Stall name -->
            <div class="row form-group">
                <div class="col-5">
                    <label>Name</label>
                </div>
                <div class="col-7">
                    <input name="Name" placeholder="Insert Stall name" class="form-control border-dark" />
                </div>
            </div>
            <!-- Stall climate -->
            <div class="row form-group">
                <div class="col-5">
                    <label>Climate</label>
                </div>
                <div class="col-7">
                    <select name="Climate" class="form-control border-dark">
                        <option value="Tropical">Tropical</option>
                        <option value="Arid">Arid</option>
                        <option value="Temperate">Temperate</option>
                        <option value="Continental">Continental</option>
                        <option value="Polar">Polar</option>
                    </select>
                </div>
            </div>
            <!-- Stall habitat -->
            <div class="row form-group">
                <div class="col-5">
                    <label>Habitat Type</label>
                </div>
                <div class="col-7">
                    <select name="HabitatType" class="form-control border-dark">
                        <option value="Forest">Forest</option>
                        <option value="Savanna">Savanna</option>
                        <option value="Desert">Desert</option>
                        <option value="Wetlands">Wetlands</option>
                        <option value="Grassland">Grassland</option>
                        <option value="Tundra">Tundra</option>
                        <option value="Marine">Marine</option>
                        <option value="Freshwater">Freshwater</option>
                    </select>
                </div>
            </div>
            <!-- Stall security level -->
            <div class="row form-group">
                <div class="col-5">
                    <label>Security Level</label>
                </div>
                <div class="col-7">
                    <select name="SecurityLevel" class="form-control border-dark">
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                </div>
            </div> 
            <!-- Submit button -->
            <div class="row form-group">
                <div class="col-12 col-lg-7 offset-lg-5">
                    <input type="submit" value="Create" class="btn btn-dark w-100" />
                </div>
            </div>
        </form>
        <div class="mt-3">
            <a href="Index" class="text-dark">Back to List</a>
        </div>
    </div>
</div>