@model Dierentuin_App.Models.Stall

@{
    ViewData["Title"] = "Edit";
}

<div class="row d-flex justify-content-center my-3">
    <div class="col-11 col-md-8 border rounded-3 border-dark p-4 mb-3">
        <form asp-action="Edit" class="d-flex flex-column gap-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <h1 class="">Edit Stall <i class="bi bi-pencil-square"></i></h1>
            <!-- Name -->
            <div class="row form-group">
                <div class="col-5">
                    <label asp-for="Name" class="control-label "></label>
                </div>
                <div class="col-7">
                    <input asp-for="Name" class="form-control border-dark" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <!-- Climate -->
            <div class="row form-group">
                <div class="col-5">
                    <label asp-for="Climate" class="control-label"></label>
                </div>
                <div class="col-7">
                    <select asp-for="Climate" class="form-control border-dark">
                        <option value="Tropical">Tropical</option>
                        <option value="Arid">Arid</option>
                        <option value="Temperate">Temperate</option>
                        <option value="Continental">Continental</option>
                        <option value="Polar">Polar</option>
                    </select>
                    <span asp-validation-for="Climate" class="text-danger"></span>
                </div>
            </div>
            <!-- Habitat Type -->
            <div class="row form-group">
                <div class="col-5">
                    <label asp-for="HabitatType" class="control-label"></label>
                </div>
                <div class="col-7">
                    <select asp-for="HabitatType" class="form-control border-dark">
                        <option value="Forest">Forest</option>
                        <option value="Savanna">Savanna</option>
                        <option value="Desert">Desert</option>
                        <option value="Wetlands">Wetlands</option>
                        <option value="Grassland">Grassland</option>
                        <option value="Tundra">Tundra</option>
                        <option value="Marine">Marine</option>
                        <option value="Freshwater">Freshwater</option>
                    </select>
                    <span asp-validation-for="HabitatType" class="text-danger"></span>
                </div>
            </div>
            <!-- Security Level -->
            <div class="row form-group">
                <div class="col-5">
                    <label asp-for="SecurityLevel" class="control-label"></label>
                </div>
                <div class="col-7">
                    <select asp-for="SecurityLevel" class="form-control border-dark">
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                    <span asp-validation-for="SecurityLevel" class="text-danger"></span>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row form-group">
                <div class="col-12 col-lg-7 offset-lg-5">
                    <input type="submit" value="Save" class="btn btn-dark w-100" />
                </div>
            </div>
        </form>
        <div class="mt-3">
            <a asp-action="Index" class="text-dark">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
