@model Dierentuin_App.Models.Animal

@{
    ViewData["Title"] = "Create";
}

<div class="row d-flex justify-content-center mt-3">
    <div class="col-11 col-md-8 border rounded-3 border-dark p-4 mb-3">
        <form asp-action="Create" class="d-flex flex-column gap-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h1 class="">Create Animal</h1>
            <!-- Name -->
            <div class="row form-group">
                <div class="col-5">
                    <label asp-for="Name" class="control-label "></label>
                </div>
                <div class="col-7">
                    <input asp-for="Name" class="form-control border-dark" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <!-- Species -->
            <div class="row form-group">
                <div class="col-5">
                    <label asp-for="Species" class="control-label"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Species" class="form-control border-dark" />
                    <span asp-validation-for="Species" class="text-danger"></span>
                </div>
            </div>
            <!-- Category -->
            <div class="row form-group">
                <div class="col-5">
                    <label asp-for="Category" class="control-label"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Category" class="form-control border-dark" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>
            <!-- Size -->
            <div class="row form-group">
                <div class="col-5">
                    <label asp-for="Size" class="input-group"></label>
                </div>
                <div class="col-7">
                    <select asp-for="Size" class="form-select border-dark" asp-items="@Html.GetEnumSelectList<Dierentuin_App.Models.Animal.AnimalSize>()">
                        <option value="">Choose size </option>
                    </select>
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
            </div>
            <!-- Dietary Class -->
            <div class="row form-group">
                <div class="col-5">
                    <label asp-for="DietaryClass" class="input-group"></label>
                </div>
                <div class="col-7">
                    <select asp-for="DietaryClass" class="form-select border-dark" asp-items="@Html.GetEnumSelectList<Dierentuin_App.Models.Animal.AnimalDietaryClass>()">
                        <option value="">Choose dietary class</option>
                    </select>
                    <span asp-validation-for="DietaryClass" class="text-danger"></span>
                </div>
            </div>
            <!-- Activity Pattern -->
            <div class="row form-group">
                <div class="col-5">
                    <label asp-for="ActivityPattern" class="input-group"></label>
                </div>
                <div class="col-7">
                    <select asp-for="ActivityPattern" class="form-select border-dark" asp-items="@Html.GetEnumSelectList<Dierentuin_App.Models.Animal.AnimalActivityPattern>()">
                        <option value="">Choose activity pattern</option>
                    </select>
                    <span asp-validation-for="ActivityPattern" class="text-danger"></span>
                </div>
            </div>
            <!-- Prey -->
            <div class="row form-group">
                <div class="col-5">
                    <label asp-for="Prey" class="control-label"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Prey" class="form-control border-dark" />
                    <span asp-validation-for="Prey" class="text-danger"></span>
                </div>
            </div>
            <!-- Enclosure -->
            <div class="row form-group">
                <div class="col-5">
                    <label asp-for="Enclosure" class="control-label"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Enclosure" class="form-control border-dark" />
                    <span asp-validation-for="Enclosure" class="text-danger"></span>
                </div>
            </div>
            <!-- Space Requirement -->
            <div class="row form-group">
                <div class="col-5">
                    <label asp-for="SpaceRequirement" class="control-label"></label>
                </div>
                <div class="col-7">
                    <input asp-for="SpaceRequirement" class="form-control border-dark" type="number" step="any" />
                    <span asp-validation-for="SpaceRequirement" class="text-danger"></span>
                </div>
            </div>
            <!-- Security Requirement -->
            <div class="row form-group">
                <div class="col-5">
                    <label asp-for="SecurityRequirement" class="input-group"></label>
                </div>
                <div class="col-7">
                    <select asp-for="SecurityRequirement" class="form-select border-dark" asp-items="@Html.GetEnumSelectList<Dierentuin_App.Models.Animal.AnimalSecurityRequirement>()">
                        <option value="">Choose security requirement</option>
                    </select>
                    <span asp-validation-for="SecurityRequirement" class="text-danger"></span>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row form-group">
                <div class="col-12 col-lg-7 offset-lg-5">
                    <input type="submit" value="Create Animal" class="btn btn-dark w-100" />
                </div>
            </div>
        </form>
        <div class="mt-3">
            <a asp-action="Index" class="text-dark">Back to List</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
