@{
    ViewData["Title"] = "About Us";
}

<body>

    <h1>@ViewData["Title"]</h1>

    <div>
        <h2>Opdracht:</h2>
        <p>
           Dit is een virtuele dierentuin waarbij de gebruiker de dierentuin kan beheren. Het moet mogelijk zijn om dieren aan te maken, hokken voor de dieren en om de dieren in categorieën te verdelen voor het makkelijk opzoeken aan de hand van de categorieën. Daarnaast kun je als gebruiker acties doen zoals: nieuwe indeling maken, bestaande indeling afmaken, etenstijd, zonsopgang en zonsondergang triggeren, en checken of aan alle voorwaarden wordt voldaan.
        </p>
    </div>

    <div>
        <h2>Gemaakt door de studenten van projectgroep 3:</h2>
        <ul class="student-list">
            <li>Student: Renas Khalil (S1149006)</li>
            <li>Student: Sam Maijer (S1199941)</li>
            <li>Student: Daniel Pustjens (S1173932)</li>
            <li>Student: Sadek Al Mousawi (S1192769)</li>
        </ul>
    </div>

</body>
