@{
    ViewData["Title"] = "Home Page";
    // Retrieving the current day/night state from ViewData. The state is stored as a boolean value in the "IsDay" key.
    bool isDay = (bool)ViewData["IsDay"];

    string timeOfDay = isDay ? "day" : "night";
}

<!-- Displaying a message that indicates whether it is currently day or night based on the isDay variable. -->
<p>It's currently @timeOfDay.</p>
<div class="text-center">
    <h1 class="display-4">Welkom bij de Zoo applicatie! me-ow!! this is the final runner test v.6! </h1>
</div>
<script>

document.documentElement.setAttribute('data-theme', '@timeOfDay');
</script>
