@model Dierentuin_App.Models.Stall

@{
    ViewData["Title"] = "Home Page";
    // Retrieving the current day/night state from ViewData. The state is stored as a boolean value in the "IsDay" key.
    bool isDay = (bool)ViewData["IsDay"];

    string timeOfDay = isDay ? "day ☀️" : "night 🌙";
}

<!-- Title -->
<h1 class="d-flex justify-content-center mt-4 title-home">
    Welcome to the Zoo application created by Group 3
</h1>

<!-- Guide -->
<div class="row my-4 d-flex justify-content-center">
    <div class="col-11 col-md-7 mb-3 border rounded-3 border-dark p-0">
        <div class="bg-dark p-4">
			<h2 class="text-light ">Zoo application Guideline:</h2>
        </div>
        
        <div class="px-4 mt-4">
            <h4>Create Animal/Stall</h4>
            <p>Step 1: Create a stall by going to stall.</p>
            <p>Step 2: Create an animal by going to animal and assign it to the newly created stall.</p>
            <p>
                Step 3: To view the stall and the assigned animal,
                go to stall index and click on the name of the stall.
            </p>
        </div>
        <div class="px-4 mt-4">
            <h4>Day/Night</h4>
            <p>
                The application has a 10 minute day/night cycle which displays “animal is awake” or 
                “animal is sleeping” based on the animal activity pattern.
            </p>
        </div>
        <div class="px-4 my-4">
            <h4>Feeding animals</h4>
            <p>
                Once an animal is hungry, it will display “Animal has not eaten”. 
                Click on the “Feed all animals” button to feed all animals.
            </p>
        </div>
    </div>
</div>

<!-- Displaying a message that indicates whether it is currently day or night based on the isDay variable. -->
<p class="text-end mt-5">It's currently @timeOfDay</p> 

<script>

    //Calls api every 60 seconds to check to update the time cycle without refreshing the page
    setInterval(function () {
        fetch('/DayNight/IsDay')
            .then(response => response.json())
            .then(data => {
                document.documentElement.setAttribute('data-theme', data ? "day" : "night");
            });
    }, 60000);


    // Set theme based on time of day
    document.documentElement.setAttribute('data-theme', '@timeOfDay');

    // Calculate the total space requirement of animals
    var totalSpace = @Model.Animals.Sum(a => a.SpaceRequirement);

    // Adjust the width of the stall container based on the total space required
    var stallContainer = document.getElementById('stall-container');
    var requiredWidth = Math.max(300, totalSpace * 40);
    stallContainer.style.width = requiredWidth + 'px';
</script>

